.App {
  text-align: left;
  margin: 20px auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.input_fields {
  padding: 10px;
}
label {
  padding-right: 10px;
}
input {
  width: 35%;
}
.letter-head {
  background: url('./letter-head.jpeg');
  width: 210mm;
  height: 297mm;
  background-size: 100%;
  margin: 0px auto;
}
.patient-data-head {
  position: relative;
  top: 210px;
  left: 108px;
  font-weight: bold;
}
.age {
  margin-left: 24px;
}
.header-2-data {
  margin-top: 13px !important;
}
.second-row {
    margin-left: -40px;
}
.second-column {
  margin-left: 24px;
}


